/*===custommenu==============*/ 

.pt_custommenu {
    position:relative;
    z-index:1000;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
}
.pt_custommenu div.pt_menu {
    float: left;
}
.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
    padding:0px 15px;
    text-decoration: none;
    display:block;
    line-height: 30px;
    text-transform: capitalize;
    font-size: 16px;
font-family: SegoeUI8Regular;
color: #666666;
border-right: 1px solid #fff;
}
.pt_custommenu div.pt_menu.act a,
.pt_custommenu div.pt_menu.active .parentMenu a,
.pt_custommenu #pt_menu_pt_item_menu_custom_menu.active span
{
color:#fff;
}
#pt_menu_pt_item_menu_custom_menu.active .parentMenu span,
#pt_menu_pt_item_menu_featured_custom.active .parentMenu span
{cursor: pointer;
color:#ffa200;
}
.pt_custommenu div.pt_menu.active {
background:#85d565}
.pt_custommenu div.pt_menu.act .itemSubMenu .itemMenuName:hover{color:#9fde86}
.pt_custommenu div.pt_menu.act .itemSubMenu .itemMenuName{color: #aaaaaa;}
.pt_custommenu div.pt_menu.act .itemMenu .itemMenuName
#pt_menu_home a{padding-left: 0}
.pt_custommenu div.pt_menu.active {
}
#block2_pt_item_menu_featured_custom{margin: 0}
#popup_pt_item_menu_featured_custom{width: 1140px !important ;left: 0 !important }
.pt_custommenu div.popup {
position:absolute;
z-index:3000;
text-align:left;
width: 904px;
padding: 0;
margin: 0;
border-bottom: 1px solid #eeeeee;
/*box-shadow: 0 -1px 3px rgba(187, 178, 178, 0.2);*/
background: #fff url(../images/bg-popup.png) repeat-x center top;
}
.pt_custommenu div.pt_menu .parentMenu a:hover,
.pt_custommenu div.pt_menu .parentMenu span.block-title:hover,
.pt_custommenu #pt_menu_link ul li a.act,
.pt_custommenu #pt_menu_link ul li a:hover,
.pt_custommenu div.pt_menu.act {
color:#fff;
background: #85d565;
border-radius: 4px;
}
.pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height:28px;
}
.pt_custommenu .itemMenu h4.level1,
.pt_custommenu .itemMenu a.level1{
 font-size: 16px;
font-weight: normal;
color: #666666 !important;
font-family: SegoeUI8Regular;
text-transform: capitalize;
}
.pt_custommenu .itemMenu h4.level1:hover,
.pt_custommenu .itemMenu a.level1:hover {
    color:#9fde86 !important;
/*    text-decoration: underline;*/
}
.pt_custommenu .itemSubMenu h4.level2,
.pt_custommenu .itemSubMenu a.level2,
.pt_custommenu .itemSubMenu h4.level3,
.pt_custommenu .itemSubMenu a.level3,
.pt_custommenu .itemMenu a.level1.nochild{
text-transform: none;
font-weight: normal;
font-size: 13px;
color: #888888;
background: url(../images/black-dot.png) no-repeat 0 10px;
padding-left: 15px;
}
.pt_custommenu .itemSubMenu a.level2:hover,
.pt_custommenu .itemMenu a.level1.nochild:hover{
color: #9fde86;
background-position: 0 -12px;
/*text-decoration: underline;*/
}
.pt_custommenu div.popup a.actParent {
    color: #85d565;
}
.pt_custommenu div.popup a.act {
    color:#9fde86 !important;
}
.pt_custommenu div.column {
    float:left;
    width:190px; /* column width */
    margin-right:5px;
}
.pt_custommenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_custommenu div.itemSubMenu {
padding:10px 0 0
}

.pt_custommenu .block2{
    margin-top: 10px;
    float: left;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    float: left;
    padding: 30px;
}
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 

.pt_custommenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_custommenu #pt_menu_link{
    padding: 0;
}
.pt_custommenu #pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
.pt_custommenu #pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 0px 15px;
    display: block;
    line-height: 60px
}
.pt_custommenu .clearBoth {
    clear:both;
}

.sub-menu-col4 .sub-menu-inner{border:1px solid #eee;background:#fdfdfd;padding: 10px 10px 0 10px;text-align: center;margin: 10px 0 0}
.sub-menu-col4 .sub-menu-inner h2.title{font-family:SegoeUI8Regular;font-size: 28px;color:#555555}
.sub-menu-col4 .sub-menu-inner p{font-family:SegoeUI8Regular;}
/*===end-custommenu==============*/ 